<div class="courses-containers">
	<div class="courses-list">
		<mat-card>
		<mat-card-header>
			<mat-card-title>
			Course List
			</mat-card-title>
		</mat-card-header>
			<mat-card-content>

				<mat-list>
						<mat-list-item
							*ngFor="let course of courses"
							(click)="selectCourse(course)">
							<h3 matLine>{{course.title}}</h3>
							<p matLine>{{course.description}}</p>
							<button mat-icon-button color="warn"
							(click)="deleteCourse(course.id);$event.stopImmediatePropagation()">
								 <mat-icon>delete</mat-icon>
							</button>
						</mat-list-item>

				</mat-list>

			</mat-card-content>
		</mat-card>
	</div>

	<div class="course-details">
		<mat-card>
			<mat-card-header>
					<mat-card-title>
						<span *ngIf="selectedCourse.id else noSelectionHeader">{{selectedCourse.title}}</span>
						<ng-template #noSelectionHeader>Select a course or add a new one!</ng-template>
					</mat-card-title>
			</mat-card-header>
			<form #templateVarForm="ngForm" (submit)="saveCourse()">
				<mat-card-content>
				
					<!-- SAMPLE WORK FROM PREVIOUS EXCERCISE -->
					<!-- <pre *ngIf="selectedCourse else courseDefaultPH">{{selectedCourse | json}}</pre> -->
					<!-- <ng-template #courseDefaultPH>Please select a course.</ng-template> -->

					<!-- FORM EXCERCISE WORK -->
					<mat-form-field>
						<input
							matInput
							type="text"
							name="title"
							placeholder="Title"
							required
							[(ngModel)]="selectedCourse.title">
					</mat-form-field>

					<mat-form-field>
						<input
							matInput
							type="text"
							name="description"
							placeholder="Description"
							[(ngModel)]="selectedCourse.description">
					</mat-form-field>
					
					<section>
						<h4>{{selectedCourse.percentComplete}}% Complete</h4>
						<mat-slider
						thumbLabel
						name="percentComplete"
						[(ngModel)]="selectedCourse.percentComplete"
						min="0" max="100" step="5"
						class="full-width"></mat-slider>
					</section>
						
					<mat-checkbox
						name="cousesFavorite"
						[(ngModel)]="selectedCourse.favorite"
						color="primary">
						Courses Favorite</mat-checkbox>

				</mat-card-content>
				<mat-card-actions>

					<!-- COURSE ACTIONS -->
					<button
						type="submit"
						color="primary"
						mat-button
						[disabled]="templateVarForm.invalid">
						Submit
					</button>

					<button
						type="button"
						mat-button
						(click)="cancelCouseUpdate()">
						Cancel
					</button>
				</mat-card-actions>
			</form>

			<pre>{{templateVarForm.value | json}}</pre>
			<pre>{{templateVarForm.valid | json}}</pre>
		</mat-card>
	</div>
</div>