<mat-card>
	<mat-card-header>
		<mat-card-title>
			{{ title }}
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		{{themeColor}}
		<hr>
		<span [style.color]="themeColor">Some Colored Text!</span>
		<hr>
		<mat-form-field class="example-full-width">
			<mat-label>Favorite Color</mat-label>
			<input matInput [(ngModel)]="themeColor" placeholder="What's my mood"/>
		</mat-form-field>

		<button mat-button (click)="updateColor()">Update</button>

		<!-- <pre>{{ courseLessons | json }}</pre> -->

		<app-lessons-list
			[courseLessons]="courseLessons"
			(lessonSelected)="selectLesson($event)">
		</app-lessons-list>

	</mat-card-content>
</mat-card>

<mat-card>
	 <mat-card-header>
		  <mat-card-title>DEBUG</mat-card-title>
	 </mat-card-header>
	 <mat-card-content>
		<pre *ngIf="selectedCourse else lessonDefaultPH">{{selectedCourse | json}}</pre>

		<ng-template #lessonDefaultPH>Select a lesson please.</ng-template>
		
	 </mat-card-content>
</mat-card>